# Compilados de classe
*.class

# Arquivos de log
*.log

# Pacotes
*.jar
*.war
*.ear

# Diretórios de build
/build/
/target/

# Dependências
/lib/

# Configurações do Eclipse
.classpath
.project
.settings/

# Configurações do IntelliJ IDEA
*.iml
.idea/
out/

# Configurações do NetBeans
/nbproject/private/
/build/
/dist/

# Arquivos do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos do Gradle
.gradle/
/build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*~

# Arquivos do VS Code
.vscode/